@font-face {
  font-family: 'D2Coding';
  src: url('../assets/D2Coding-Ver1.3.2-20180524.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'D2Coding';
  src: url('../assets/D2CodingBold-Ver1.3.2-20180524.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    'SUIT',
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

button {
  cursor: pointer;
  border: none;
  text-align: center;
  background: none;
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-optical-sizing: inherit;
  color: inherit;
}

li,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
